@tailwind base;
@tailwind components;
@tailwind utilities;

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}
.hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.fade-in-up {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.7s ease-out, transform 0.7s ease-out;
}

.animate-fade-in-up {
    opacity: 1;
    transform: translateY(0);
}

/* Swiper custom styles */
.swiper-pagination-bullet {
    background-color: #cbd5e1 !important;
    opacity: 1 !important;
}

.swiper-pagination-bullet-active {
    background-color: #d4af37 !important;
    transform: scale(1.2);
}

.swiper-slide {
    height: auto !important;
}
